<div mat-dialog-title>{{data.title}}</div>
<mat-dialog-content>
  <div class="dialog-inputs">
    <div class="" *ngIf="data.mode === 'service'">
      <input type="text" class="input dialog-form-input" placeholder="Копирайтинг">
    </div>
    <div class="">
      <input type="text" class="input dialog-form-input" placeholder="Ваше имя">
    </div>
    <div class="">
      <input type="text" class="input dialog-form-input" placeholder="Ваш номер телефона">
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="button button-dialog" matButton mat-dialog-close>Оставить заявку</button>
</mat-dialog-actions>

