.main {
  margin-bottom: 120px;

  .container {
    .promo
    {
      position: relative;
      .carousel {
         position: relative;
      }

      button {
        position: absolute;
        cursor: pointer;
      }

      button.next {
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: transparent;
        right: 5px;
      }

      button.prev {
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: transparent;
        left: 5px;
      }

    }
  }
}
