 <section class="main">
   <div class="container">
     <div class="promo">
       <ngx-slick-carousel class="carousel"
                           #slickModal="slick-carousel"
                           [config]="slideConfig"
                           (init)="slickInit($event)"
                           (breakpoint)="breakpoint($event)"
                           (afterChange)="afterChange($event)"
                           (beforeChange)="beforeChange($event)">
         <div ngxSlickItem *ngFor="let slide of slides" class="slide">
           <img src="{{ slide.img }}" alt="" width="100%">
         </div>
       </ngx-slick-carousel>
       <button (click)= this.slickModal.slickPrev()>Prev</button>
       <button (click)= this.slickModal.slickNext()>Next</button>
     </div>
   </div>
 </section>

