@import "../../../assets/styles/_mixins.scss";
@import "../../../assets/styles/_variables.scss";

.main {
  margin-bottom: 120px;

  .container {
    .promo
    {
      position: relative;
      .carousel {
         position: relative;
      }

      button {
        position: absolute;
        cursor: pointer;
      }

      button.next {
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: transparent;
        right: 5px;
      }

      button.prev {
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: transparent;
        left: 5px;
      }

    }

    .services {
      margin: 120px 0;

      .services-title {
        margin-bottom: 40px;
        @include base-title;
      }

      .services-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 26px ;

        .services-item {
          display: flex;
          flex-direction: column;
          max-width: 291px;

          .services-item-image {
            margin-bottom: 15px;
          }

          .services-item-title {
            font-family: 'MontserratBold', sans-serif;
            font-size: 20px;
            color: $main-text-color;
            margin-bottom: 10px;
          }

          .services-item-description {
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            line-height: 130%;
            color: $dark-blue-text-color;
            margin-bottom: 15px;
            height: 90px;
          }

          .services-item-info {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .services-item-price {
              font-family: 'MontserratSemiBold', sans-serif;
              font-size: 20px;
              color: $main-text-color
            }
          }
        }

      }
    }

    .advantages {
      margin-bottom: 120px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .advantages-image {
        margin-right: 68px;
      }

      .advantages-info {
        display: flex;
        flex-direction: column;

        .advantages-title {
          @include base-title;
          margin-bottom: 20px;
        }

        .advantages-description {
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          line-height: 130%;
          color: #1e1a2b;
          margin-bottom: 40px;
          max-width: 633px;

          span {
            font-family: MontserratBold, sans-serif;
          }
        }

        .advantages-items-title {
          font-family: Lora, sans-serif;
          color: $main-text-color;
          margin-bottom: 20px;
          font-size: 26px;
        }

        .advantages-items-list {

          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-column-gap: 65px;
          grid-row-gap: 20px;

          .advantages-item {
            display: flex;
            max-width: 316px;
            font-family: Montserrat, sans-serif;
            font-size: 14px;
            line-height: 130%;
            color: #1e1a2b;

            .advantages-item-text {
              margin-left: 20px;
              max-width: 256px;
              span {
                font-family: MontserratBold, sans-serif;
              }
            }
          }
        }
      }
    }
  }
}

.popular-articles {
  margin-bottom: 120px;

  .container {
    .popular-articles-title {
      @include base-title;
      margin-bottom: 40px;
    }

    .popular-articles-list {
      margin-bottom: 40px;
      display: flex;
      column-gap: 24px;
      justify-content: space-between;
      align-items: center;
    }

    .popular-articles-link {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;

      a {
        font-family: Montserrat, sans-serif;
        font-size: 20px;
        color: $main-text-color;
        text-decoration: none;
        margin-right: 14px;
      }
    }
  }
}

.reviews {
  margin-bottom: 120px;

  .container {
    .reviews-title {
      @include base-title;
      margin-bottom: 20px;
    }

    .reviews-carousel {
      position: relative;
      .reviews-arrow svg {
        position: absolute;
        cursor: pointer;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: transparent;
        color: $main-text-color;
      }

      .reviews-arrow-next svg {
        right: -7px;
      }

      .reviews-arrow-prev svg {
        left: -20px;
        transform: rotate(180deg);
      }
    }
  }
}

.contacts {
  margin-bottom: 120px;
  .container {
    display: flex;
    .contacts-map {

    }
    .contacts-info {
      display: flex;
      flex-direction: column;
      margin-left: 26px;

      .contacts-info-title {
        @include base-title;
      }

      .contacts-info-item {
        margin-top: 20px;
        width: 501px;

        .contacts-info-item-name {
          font-family: MontserratBold, sans-serif;
          font-size: 20px;
          color: $main-text-color;
          margin-bottom: 10px;
        }
        .contacts-info-item-content {
          font-family: Montserrat, sans-serif;
          font-size: 14px;
          line-height: 130%;
          color: $dark-blue-text-color;
          svg {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
