@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf")
}

@font-face {
  font-family: "MontserratBold";
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.ttf")
}

@font-face {
  font-family: "Jost";
  font-weight: 400;
  src: url("../fonts/Jost-Regular.ttf")
}

@font-face {
  font-family: "JostBold";
  font-weight: 500;
  src: url("../fonts/Jost-Medium.ttf")
}

@font-face {
  font-family: "Lora";
  font-weight: 400;
  src: url("../fonts/Lora-Regular.woff")
}


