html, body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.input {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: 2px solid $main-text-color;
  border-radius: 3px;
  padding: 17px 20px;
  box-sizing: border-box;

  placeholder {
    color: #a8aba7;
  }
}

.button {
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px 40px;
  background: #709fdc;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  border: 0;

  &:disabled {
    cursor: not-allowed;
    background: #c5c5c5;
  }
}

button.mat-menu-item {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: $dark-blue-text-color
}

.btn-main {
  position: absolute;
  border: 5px;
  width: 163px;
  height: 51px;
  top: 351px;
  left: 81px;
}

.btn-footer {
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  width: 153px;
  height: 36px;
  background-color: $main-text-color;
  box-sizing: border-box;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
}

.cdk-overlay-pane.custom-overlay-pane {
  width: 727px;
  height: 489px;

.mat-dialog-container {
   padding: 86px;
   text-align: center;
   width: 727px;
   height: 489px;

   .mat-dialog-title {
     font-family: Montserrat, sans-serif;
     font-weight: 400;
     font-size: 38px;
     color: $main-text-color
   }

   .dialog-inputs {
     .dialog-form-input {
       min-width: 422px;
       height: 53px;
       margin-bottom: 5px;
     }

   }

   .mat-dialog-actions {
     justify-content: center;
     padding: 0;
     margin-top: 15px;
     .button-dialog {
       width: 422px;
     }
   }
 }
}


