html, body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.input {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  border: 2px solid #709fdc;
  border-radius: 3px;
  padding: 17px 20px;
  box-sizing: border-box;

  placeholder {
    color: #a8aba7;
  }
}

.button {
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 15px 40px;
  background: #709fdc;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  border: 0;

  &:disabled {
    cursor: not-allowed;
    background: #c5c5c5;
  }
}

button.mat-menu-item {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: $dark-blue-text-color
}

.btn-main {
  position: absolute;
  border: 5px;
  width: 163px;
  height: 51px;
  top: 351px;
  left: 81px;
}

